<?xml version="1.0" encoding="UTF-8"?>

<!-- id是标识符，用在getBean("id") class是需要实例化的对象 -->

<!-- 
<beans xmlns="http://www.springframework.org/schema/beans"  
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
       xsi:schemaLocation="http://www.springframework.org/schema/beans  
           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd"> 
-->
 
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	xmlns:context="http://www.springframework.org/schema/context">
           
<!-- 	<bean id="vehicle" class="com.gary.SpringTest.Bike"></bean> -->
	<context:component-scan base-package="com.gary.SpringTest"></context:component-scan>
	
	<bean id="tyre" class="com.gary.SpringTest.Tyre">
<!-- 		<property name="brand" value="MRF"></property> -->
		<constructor-arg value="MRF"></constructor-arg>
	</bean>
	
</beans>